@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
}

@theme {
  --color-brand: #00a542;
  --color-brand-dark: #2e965a;
  --color-light: #0917331a;
}

/* Global base tweaks just for nicer rendering. Keep this light. */
@layer base {
  html,
  body {
    @apply text-neutral-900;
  }

  a {
    @apply cursor-pointer;
  }
}
